<footer>
    <div class="container">
        <div class="foo-row">
            <div class="foo-col">
                <h2>Suscríbete <br>a nuestro newsletter</h2>
                <form action="" method="GET">
                    <div class="f-input">
                        <input type="text" placeholder="Ingrese su correo">
                        <button type="submit" class="hm-btn-round btn-primary"><i class="far fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
            <div class="foo-col">
                <ul>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Campañas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="/pages/resenias.html">Reseñas</a></li>
                    <li><a href="/pages/contacto.html">Contacto</a></li>
                    <li><a href="#">Iniciar Sesion</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="foo-copy">
    <div class="container">
        <p>HM STORE 2024 © Todos los derechos reservados</p>
    </div>
</div>