<div class="hm-header">
    <div class="container">
        <div class="header-menu">
            <div class="hm-logo">
                <a href="/index.html">
                    <img src="/img/logo-home-master-store.png" alt="HM Store Logo">
                </a>
            </div>
            <nav class="hm-menu">
                <ul>
                    <li><a href="#">Campañas</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="/pages/contacto.html">Contacto</a></li>
                    <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
                </ul>
                <div class="hm-icon-cart">
                    <a href="#">
                        <i class="las la-shopping-cart"></i>
                        <span>0</span>
                    </a>
                </div>
                <div class="icon-menu">
                    <button type="button"><i class="fas fa-bars"></i></button>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- Menú móvil -->
<div class="header-menu-movil">
    <button class="cerrar-menu"><i class="fas fa-times"></i></button>
    <ul>
        <!--<li><a href="/pages/productos.html">Listado</a></li>-->
        <li><a href="#">Campañas</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="/pages/contacto.html">Contacto</a></li>
        <li><a href="#">Iniciar Sesion</a></li>
    </ul>
</div>